{
  "extension": [
    ".ts"
  ],
  "reporter": [
    "text",
    "cobertura",
    "html",
    "json-summary",
    "lcov",
    "text-summary"
  ],
  "all": true,
  "include": [
    "out/**/*",
    "src/**/*"
  ],
  "exclude": [
    "src/migrations/**"
  ],
  "report-dir": "./reports/coverage"
}