{
  "extension": [
    ".ts"
  ],
  "reporter": [
    "text",
    "cobertura",
    "html",
    "json-summary"
  ],
  "all": true,
  "include": [
    "out/**/*",
    "src/**/*"
  ],
  "report-dir": "./reports/coverage"
}